#reg{
    .container{
        height: 717px;
        .regL{
            width: 560px;height: 717px;float: left;
            .regLT{
                text-align: center;font-size: 24px;color: #999;margin-top: 15px;padding-bottom: 5px;
            }
            .regLB{
                height: 195;margin-top: 30px;
                p{
                    height: 47px;
                    label{
                        text-align: right;width: 140px;float: left;padding: 10px 3px 15px 10px;font-size: 12px;line-height: 12px;color: #666;
                    }
                    input{
                            width: 332px;height: 32px;line-height: 30px;background-color: #FFF;border: 1px solid #ccc;padding-left: 20px;color: #666;font-size: 15px;
                    }
                    button{
                        height: 34px;width: 320px;background-color: #FFF;text-align: center;margin-left: 145px;line-height: 34px;border: 1px solid #CCC;color: #FFF;font-size: 17px;color: #666;cursor: pointer;
                    }
                    a{
                        float: right;font-size: 12px;margin-top: 10px;margin-right: 90px;  
                    }
                }
                div{
                    height: 105px;
                    p{font-size: 12px;font-weight: bold;height: 20px;line-height: 20px;padding-left: 120px;color: #666;}
                    div{margin-top: 20px;text-align:center;}
                }
            }
        }
        .regR{
            width: 640px;height: 717px;float: left;
            .regRT{
                margin-left: 230px;font-size: 24px;color: #999;margin-top: 15px;padding-bottom: 5px;
            }
            ul{
                display: block;padding-left: 180px;margin-top: 10px;
                li{
                    width: 100px;float: left;line-height: 30px;border: 1px solid #ddd;text-align: center;font-size: 12px;color: #666;
                }
                .selected{
                    background: #EC8D36;color: #fff;border: solid 1px #EC8D36;
                }
            }
            .email,.tel{
                height: 492px;margin-top: 15px;
                p{
                    height: 67px;
                    label{
                        text-align: right;width: 140px;float: left;padding: 10px 3px 15px 10px;font-size: 12px;line-height: 12px;color: #666;
                    }
                    input{
                        width: 332px;height: 32px;line-height: 30px;background-color: #FFF;border: 1px solid #ccc;padding-left: 20px;color: #666;font-size: 15px;
                    }
                    span{
                        height: 20px;display:block;font-size: 12px;color:#666;
                    }
                    button{
                        height: 34px;width: 320px;background-color: #FFF;text-align: center;margin-left: 145px;line-height: 34px;border: 1px solid #CCC;color: #FFF;font-size: 17px;color: #666;cursor: pointer;
                    }
                }
            }
            .email{
                p:nth-child(4){
                    height: 47px;
                }
                p:nth-child(6){
                    input{
                        width: 122px;
                    }
                    span{
                        display:inline-block;
                    }
                    .yzm1{margin: 0 20px;font-size: 18px;font-weight: bold
                    ;}
                    .yzm1_change:hover{
                        cursor: pointer;color: #FF3300;
                    }
                }
                .xieyi{
                    height: 56px;padding-left: 130px;
                    input{
                            width: 40px;height: 25px;outline: none;border: 0px;float: left;
                    }
                    span{vertical-align: bottom;display:inline-block;line-height: 25px;}
                }
            }
            .tel{
                p:nth-child(3){
                    height: 47px;
                }
                p:nth-child(4){
                    input{
                        width: 122px;
                    }
                    span{
                        display:inline-block;
                    }
                    .yzm2{margin: 0 20px;font-size: 18px;font-weight: bold
                    ;}
                    .yzm2_change:hover{
                        cursor: pointer;color: #FF3300;
                    }
                }
                p:nth-child(5){
                    input{
                        width: 122px;
                    }
                    .a1{
                        display:inline-block;margin: 0 10px;color:#000;
                    }
                }
                .xieyi{
                    height: 56px;padding-left: 130px;
                    input{
                            width: 40px;height: 25px;outline: none;border: 0px;float: left;
                    }
                    span{vertical-align: bottom;display:inline-block;line-height: 25px;}
                }
            }
        }
    }
}